aiodns==2.0.0
aiogram==2.11.2
aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
brotlipy==0.7.0
cchardet==2.1.7
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
idna==2.10
multidict==5.0.2
pycares==3.1.1
pycparser==2.20
pytz==2020.4
typing-extensions==3.7.4.3
ujson==4.0.1
uvloop==0.14.0
yarl==1.6.3
python-dotenv==0.17.0